body {
  font-family: "Funnel Sans";
  margin: 0;
  background-color: #f2f3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #2f847c;
  padding: 15px 30px;
  border-radius: 50px 50px;
  margin: 20px;
  position: sticky;
  top: 10px;
  width: calc(100% - 100px);
}

nav a {
  color: #f2f3f4;
  text-decoration: none;
  font-size: 18px;
  padding-right: 20px;
  font-size: 1.5rem;
}

header {
  text-align: center;
  padding: 10px 0;
}

h1 {
  color: #2f847c;
  font-size: 3rem;
}

main {
  padding: 0 20px;
  max-width: 800px;
  }

.img-label {
display: flex;
padding: 0 50px;
}

.img-label p {
    padding-right: 20px;
    font-weight: bold;
}

p {
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  nav {
    margin: 10px;
    width: calc(100% - 80px);
  }

  nav a {
    padding-right: 10px;
    font-size: 1.2rem;
}
